
@media screen and (max-width: 1024px){

    body{
    width: 100%;
}

// header .header-inner .header__left--menu{
//     display: none;
// }

header{
    height: 60px;

    .header-inner{
        padding-top: 10px;
        height: 40px;
        .header__left{
            &__white{
                height: 30px;
                width: 30px;
                img{
                    height: 30px;
                    width: 30px;
                }
            }
            &__black{
                height: 30px;
                width: 30px;
                img{
                    height: 30px;
                    width: 30px;
                }
            }
            &--menu{
                display: none;
            }
            h1{
                font-size: 28px;
                line-height: 40px;
            }
        }
        .header__right{
            width: 170px;
            &__button{
                height: 40px;
                width: 120px;
                img{
                    margin: 12px;
                }
                p{
                    margin-top: 12px;
                }
            }
            .bar{
                display: block;
                cursor: pointer;
            }
        }
    }
}


.fv{    
    h1{
        
        right: 5%;
        bottom: 5%;
    }
}


.sentence__img{
    h2{
        margin-right: 3%;
    }
    p{
        margin-right: 2%;
    }
}


.contents{
    margin-bottom: 40px;
    &__menu{
        display: block;
        margin-top: 40px;
        &:nth-of-type(1){
            margin-top: 30px;
        }
        &__img{
            width: 100%;
        }
        &__desc {
            margin: auto;
            width: 97%;
            >h1{
                margin-top: 30px;
                font-size: 30px;
                line-height: 45px;
            }
            >button{
                display: block;
                margin: 0 auto;
                margin-top: 30px;
                width: 150px;
                height: 40px;
            }
        }
    }
}


.plans{
    height: 1240px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    ul{
        margin-top: 20px;
        display: block;
        width: 97%;
        min-width: 480px;
        height: 1000px;
        li{
            
            margin-bottom: 20px;
            &.plan{
                width: 100%;
                img{
                  object-fit: cover;  
                }
            }
        }
    }
}


.announce{
    height: 1100px;
    &__wrapper{
        height: 80%;
        
        &__lists{
            height: 100%;
            width: 100%;
            ul{
                display: block;
                li{
                    width: 100%;
                    max-width: 1024px;
                    .list-box{
                        width: 100%;
                        &__img{
                            margin-top: 15px;
                        }
                        &__sen{
                            margin-top: 15px;
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}


.access{
    height: 1400px;
    &__wrapper{
        height: 100%;
        &__address{
            display: block;
            width: 100%;
            img{
                width: 100%;
                max-width: 800px;
            }
            &__sen{
                padding-left: 30px;
            }
            &__map{
                margin-top: 60px;
                iframe{
                    height: 350px;
                }
            }
        }
    }
}



footer .f-wrapper{
    width: 70%;
    p{
        width: 100%;
    }
}


}



// スマホ
@media only screen and (max-width:600px) {
    

    
    .access{
        height: 1200px;
    }

    }
    